module.exports = {
  apps: [
    {
      name: "ai-bot",
      script: "index.js",
      cwd: "/home/openclaw/.openclaw/workspace/ai-bot",
      env: {
        TELEGRAM_BOT_TOKEN: "YOUR_TELEGRAM_TOKEN_GOES_HERE",
        OPENROUTER_API_KEY: "YOUR-OPENROUTER_API_KEY-GOES-HERE"
      },
    },
  ],
};
